In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina'

C:\Users\3lett\AppData\Local\Temp\ipykernel_21300\3624788073.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df1=pd.read_excel("https://www.nso.go.th/nsoweb/downloadFile/stat_impt/jA/file_xls_th", skiprows= 2)
df1

,ภาค,จังหวัด,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565
0,ทั่วราชอาณาจักร,ทั่วราชอาณาจักร,18766.00,19061.0,20891.74,21157.0,21144.15,21436.50,21346.01,20742.12,21329.09,21616.00,22372.00
1,กรุงเทพมหานคร และ 3 จังหวัด,กรุงเทพมหานคร และ 3 จังหวัด,31971.46,32425.0,31605.79,30882.0,32091.05,33126.02,33408.08,30778.10,31142.48,31382.00,28962.00
2,NaN,กรุงเทพมหานคร,33956.98,35023.7,34425.64,33085.7,35101.40,35350.70,34127.44,31753.04,32052.03,31866.68,27970.47
3,NaN,สมุทรปราการ,25860.88,26192.9,22747.21,22331.8,24353.97,24354.72,23231.71,21423.43,23850.82,27484.76,24709.65
4,NaN,นนทบุรี,28731.23,26946.6,30812.06,31381.0,28828.37,33313.04,33808.98,32189.09,33042.31,33995.57,30990.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,พัทลุง,18404.19,16635.7,18514.03,17143.3,18420.66,16807.88,15947.09,15848.77,16817.89,17578.04,19307.15
80,NaN,ปัตตานี,14119.15,16668.1,14809.34,15341.1,17962.18,16948.61,15705.85,15948.56,14862.49,15392.67,17810.29
81,NaN,ยะลา,12883.10,12521.7,12370.15,13453.9,14122.15,15483.63,13301.01,13595.63,14141.04,14927.64,15603.01
82,NaN,นราธิวาส,12686.17,13727.8,11985.95,13717.4,13065.80,14980.10,15630.54,14572.65,15126.26,17088.68,17447.01
83,ที่มา: การสำรวจภาวะเศรษฐกิจและสังคมของครัวเรือ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# ตัดคอลัมน์ 'ภาค' ออกและตั้งให้ 'จังหวัด' เป็น index
df_cleaned = df1.drop(columns=['ภาค']).set_index('จังหวัด')

# คำนวณค่าเฉลี่ยของแต่ละจังหวัดรวมทุกปี
average_per_province = df_cleaned.mean(axis=1)

# แปลงผลลัพธ์เป็น DataFrame สำหรับการแสดงผลที่ดีขึ้น
average_df = average_per_province.reset_index()
average_df.columns = ['จังหวัด', 'ค่าเฉลี่ยรายได้ต่อปี']
# ลบแถวที่มีค่า NaN ออกจาก DataFrame
average_df_cleaned = average_df.dropna().round(2)
average_df_cleaned
# แสดงผล DataFrame หลังจากลบแถวที่มีค่า NaN
#average_df_cleaned.round(2)

                        จังหวัด  ค่าเฉลี่ยรายได้ต่อปี
0               ทั่วราชอาณาจักร              20896.51
1   กรุงเทพมหานคร และ 3 จังหวัด              31615.82
2                 กรุงเทพมหานคร              33155.80
3                   สมุทรปราการ              24231.08
4                       นนทบุรี              31276.24
..                          ...                   ...
78                         ตรัง              19169.27
79                       พัทลุง              17402.25
80                      ปัตตานี              15960.76
81                         ยะลา              13854.81
82                     นราธิวาส              14548.03

[83 rows x 2 columns]

In [4]:
# Sort the DataFrame by 'Average Annual Income' from highest to lowest
average_df_cleaned = average_df_cleaned.sort_values(by='ค่าเฉลี่ยรายได้ต่อปี', ascending=False)

# Display the sorted DataFrame
average_df_cleaned.head()

                        จังหวัด  ค่าเฉลี่ยรายได้ต่อปี
5                      ปทุมธานี              33524.84
2                 กรุงเทพมหานคร              33155.80
1   กรุงเทพมหานคร และ 3 จังหวัด              31615.82
4                       นนทบุรี              31276.24
72                       ภูเก็ต              30211.34